<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}"> 
    <img src="{{bar.image}}" alt="">
    <small>View Larger</small>
  </a>
  <h3>{{#link-to "bars.show" bar}}{{bar.name}}{{/link-to}}</h3>
  <div class="detail location">
    <span>Location:</span> {{bar.location}}
  </div>
  <div class="detail rating">
    <span>Rating:</span> {{bar.rating}}
  </div>
  <div class="detail going">
    <span>Going:</span> {{bar.going}}
  </div>
  {{location-map location=bar.location}}
</article>
