<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}"> 
    <img src="{{bar.image}}" alt="">
    <small>View Larger</small>
  </a>
  <h3>{{bar.title}}</h3>
  <div class="detail location">
    <span>Location:</span> {{bar.location}}
  </div>
  <div class="detail going">
    <span>Going:</span> {{bar.going}}
  </div>
</article>
