<div class="jumbo show-listing">
  <h2 class="name">{{model.name}}</h2>
  <div class="right detail-section">
    <div class="detail owner">
      <strong>Location:</strong> {{model.location}}
    </div>
    <div class="detail">
      <strong>Rating:</strong> {{model.rating}}
    </div>
    <div class="detail">
      <strong>Going:</strong> 
    </div>
  </div>
  <img src="{{model.image}}" class="rental-pic">
</div>

{{outlet}}
